<hr />
<footer class="text-muted small pb-3">

  <style>
    footer {
      background-color: rgb(255, 255, 255);
      opacity: 100%;
      position: sticky;
      bottom: 0;
      width: 100%;
    }

    span {
      color: #000000;
    }
  </style>

  <div class="d-flex justify-content-between">
    <span>© {{ ano }} Machado Fit</span>
    <span> <i class="fa fa-phone" aria-hidden="true"></i> <a href="https://wa.me/557999984882?text=Olá,%20gostaria%20de%20mais%20informações%20sobre%20a%20MachadoFit"> Contate-nos</a></span>
  </div>
</footer>
